extends layout

block content
  .container
    .sidebar
      h3 Scores
      table#scores
    .content
      ul#messages
      form#chat_form(action='')
        input#m(autocomplete='off' placeholder='Answer here...')
        button.send Submit
  dialog#name_form_dialog(open)
    form#name_form(method='dialog', action=action)
      label Enter your name to start chatting.
      input#name_input(autocomplete='off' placeholder='Name' value=username)
      if action === 'Enter'
        input#room_input(autocomplete='off' placeholder='Room code')
      button.modal(value='default') #{action}

block script
  script(src='js/main.js' type='text/javascript')
