doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title Answering Machine
    link(rel='stylesheet' href='css/style.css' type='text/css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap')
    link(rel='icon' href='favicon.ico' 'type=image/png')
  body
    .container
      .sidebar
        h3
          | Scores
          ul#scores
      .content
        ul#messages
        form#chat_form(action='')
          input#m(autocomplete='off' placeholder='Answer here...')
          button.send Submit
    dialog#name_form_dialog(open)
      form#name_form(method='dialog')
        label Enter your name to start chatting.
        input#name_input(autocomplete='off' placeholder='Name')
        input#room_input(autocomplete='off' placeholder='Room code')
        button.modal(value='default') Confirm
    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-1.11.1.js')
    script(src='js/main.js' type='text/javascript')
