* {
    outline:0;
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Mono',monospace;
}

body {
    color: #1c1c1c;
    background-image: linear-gradient(to bottom, #c8ddf4 0%, #e7f0fd 100%);
}

.container {
    display: grid;
    grid-template-areas: "sidebar content admin";
    grid-template-columns: auto 700px auto;
    grid-gap: 2vw;
    justify-content: center;
    height: 100vh;
}

.sidebar {
    grid-area: sidebar;
    max-height: 100vh;
    overflow: scroll;
    padding: 5vh;
}
h3 { font-size: 18pt; text-align: center; margin-bottom: 36px;}
#scores tr { font-size: 16pt; }

#scores tr td { padding-bottom: 15px; }
#scores tr td:first-child {
    text-align: right;
    padding-right: 10px;
}
#scores tr td:first-child::after { content: ":"; }

.admin {
    grid-area: admin;
    overflow: scroll;
    padding: 5vh;
}

.admin form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin input {
    display: block;
    font-size: 16pt;
    padding: 15px;
    border-radius: 7px;
    border: 1px solid #AAA;
}

.admin button {
    width: 100%;
    margin-top: 15px;
    padding: 15px;
    background-color: #205b9d;
    border-radius: 12px;
}
button.admin-end { background-color: #d56164;}
button.admin-end:hover { background-color: #e7a4a6; }

.content {
    grid-area: content;
    display: grid;
    grid-template-rows: 90vh 10vh;
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, .25);
}

#messages {
    grid-row-start: 1;
    overflow: scroll;
    padding: 40px;
    background-color: #FEFEFE;
    list-style-type: none;
    font-size: 16pt;
}

#messages li {
    display: flex;
    flex-direction: row;
    line-height: 1.2;
    padding-top: 10px;
}
#messages li span:first-child {
    margin-right: 10px;
    color: #205b9d;
}

form#chat_form { grid-row-start: 2; }

form input#m {
    height: calc(100% - 6px);
    width: 527px;
    padding: 0 25px;
    font-size: 16pt;
    background-color: #FEFEFE;
    border-top: 3px solid #205b9d;
    border-left: 3px solid #205b9d;
    border-bottom: 3px solid #205b9d;
}

button {
    background-color: #205b9d;
    font-size: 16pt;
    cursor: pointer;
    color: #FEFEFE;
    transition: background-color .1s;
}

.send {
    width: 120px;
    height: 100%;
}

form button:hover { background-color: #accbee; }

dialog {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    backdrop-filter: blur(7px);
}

button.modal {
    width: 120px;
    padding: 15px;
    border-radius: 12px;
}

form#name_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border-radius: 12px;
    background-color: #FEFEFE;
    box-shadow: 0 0 20px -5px rgba(231, 240, 253, .75);
}

form#name_form label {
    width: 230px;
    font-size: 16pt;
    font-weight: 700;
    margin-bottom: 30px;
}

input#name_input, input#room_input {
    width: 200px;
    margin-bottom: 30px;
    font-size: 16pt;
    padding: 15px;
    border-radius: 7px;
    border: 1px solid #AAA;
}

.invalid {
    margin-top: -20px;
    margin-bottom: 30px;
    color: red;
}

/*** Style Classes ***/

.announcement { font-style: italic; color: #9db6d1; }

.done { color: green; }
