* { outline:0; border: 0; margin: 0; padding: 0; font-family: 'Ubuntu Mono', monospace; }

body { 
	color: #1c1c1c;
	background-image: linear-gradient(to bottom, #c8ddf4 0%, #e7f0fd 100%); 
}

.container {
	display: grid;
	grid-template-areas: "header header header header"
						 ". sidebar content.";
	grid-template-rows: 12vh 86vh;
	grid-template-columns: 1fr auto 700px 1fr;
	grid-gap: 2vh;
	justify-content: center;
	height: 100vh;
}

.header { 
	grid-area: header;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header h1 { 
	font-family: 'Ubuntu Mono', monospace;
	font-weight: 700;
	font-size: 18pt; 
}

.sidebar { 
	grid-area: sidebar;
	max-height: 86vh;
	overflow: scroll;
	margin-bottom: 2vh;
	background-image: linear-gradient(to top, #c8ddf4 0%, #e7f0fd 100%);
	border-radius: 12px;
	padding: 5vh;
	box-shadow: 0 0 10px -5px #AAA;
}
.sidebar h3 { font-size: 16pt; text-align: center; margin-bottom: 20pt;}
#scores { list-style-type: none; }
#scores li { 
	display: block; 
	font-size: 16pt;
	margin-bottom: 6px;
}

.content {
	grid-area: content;
	display: grid;
	grid-template-rows: 1fr auto;
	grid-gap: 10px;
	padding-bottom: 2vh;
}

#messages {
	grid-row-start: 1;
	max-height: 76vh;
	overflow: scroll;
	padding: 5vh;
	background-color: #FEFEFE;
	border-radius: 12px;
	list-style-type: none;
	font-size: 16pt;
	box-shadow: 0 0 10px -5px #AAA;
}

#messages li { 
	display: flex;
	flex-direction: row;
	margin-bottom: 14px; 
	line-height: 1.2;
}
#messages li span:first-child { 
	margin-right: 10px; 
	color: #205b9d;
}

form {
	grid-row-start: 2;
	box-shadow: 0 0 10px -5px #AAA;
}
form input {
	height: 10vh;
	width: 530px;
	padding: 0 25px;
	font-size: 16pt;
	background-color: #FEFEFE;
	border-radius: 12px 0 0 12px;
}

form button {
	width: 120px;
	height: 10vh;
	background-color: #205b9d;
	font-size: 16pt;
	border-radius: 0 12px 12px 0;
	cursor: pointer;
	color: #FEFEFE;
	transition: background-color .1s;
}
form button:hover { background-color: #accbee; }
